.game-canvas-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background: #000;
}

.game-canvas-container canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
}
